* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    /* scroll-behavior: smooth;
    scroll-padding-top: 80px; */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.home-page {
    background-color: #262b40;
}

nav {
    background-color: #12192b;
    width: 100%;
    padding: 25px 0;
    position: fixed;
    z-index: 1;
}

.row {
    display: flex;
    position: relative;
    margin: 0 120px;
    flex-wrap: wrap;
    align-content: center;
}

.logo {
    color: white;
}

nav>div {
    justify-content: space-between;
}

.nav-links ul {
    display: flex;
}

.nav-links ul li {
    padding-left: 20px;
    color: white;
}

.nav-links ul li:hover {
    color: skyblue;
}

.col-1 {
    color: white;
    flex-basis: 60%;
    margin: 170px 0;
    font-size: 20px;
}

.col-1>p {
    padding: 20px 0;
}

.col-1 h2 {
    padding: 10px 0;
}

.btn {
    background-color: skyblue;
    padding: 10px;
    border-radius: 20px;
    color: #262b40;
}

.profile-img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 13em;
    transition: height 0.3s ease, width 0.3s ease;

}

.profile-img:hover{
    height: 275px;
    width: 275px;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* About Me Page */
.about-page {
    background-color: #262b40;
    padding: 50px 0;
}

.about-pic {
    height: 300px;
    width: 200px;
    margin-right: 20px;
    margin-bottom: 18px;
    border-radius: 10px;
    overflow: hidden;
}

.about-page img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.col-2 {
    flex-grow: 1;
    flex-basis: 70%;
    font-size: 1em;
    color: white;
    margin: 0;
    align-self: center;
}

.col-2 h3 {
    margin: 25px 0 10px 0;
}

.col-2 p {
    margin: 10px 0 25px 0;
}

.social-media{
    display: inline;
    position: relative;
}

.social-media i{
    font-size: 2em;
    color: skyblue;
}
/* Project Page */

.project-page {
    background-color: #12192b;
    color: white;
    padding: 50px 0;
    text-align: center;
}

.project-page>.row {
    gap: 20px;
}

.col-3 {
    flex-basis: 25%;
    margin: 0.8em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    background-color: #262b40;
    border-radius: 0.5em;
    padding: 1em;
}

.col-3 img {
    height: 150px;
    width: 200px;
    border-radius: 1em;
    margin-bottom: 1em;
}

.col-3 .button {
    margin-top: 20px;
}

.col-3 h3 {
    margin-bottom: 1.2em;
}

/* Contact Me Page */
.contact-page {
    background-color: #12192b;
    text-align: center;
    color: white;
}

.contact-page h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.contact-page>.row {
    justify-content: center;
}

.contact-me {
    flex-basis: 60%;
    height: 30em;
    margin-bottom: 120px;
}

.sml-row-1 {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
    flex-wrap: wrap;
}

.sml-row-1 input {
    flex-grow: 1;
    height: 3em;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 5px;
    border: 0;
    background-color: #262b40;
    color: white;
}

.sml-row-1 textarea {
    font-family: sans-serif;
    padding: 5px;
    flex-basis: 100%;
    border-radius: 5px;
    height: 20em;
    border: 0;
    background-color: #262b40;
    color: white;
    resize: none;
}

.sml-row-1 input::placeholder {
    font-size: 14px;
    color: white;
}

.sml-row-1 textarea::placeholder {
    font-family: sans-serif;
    font-size: 14px;
    color: white;
}

.contact-me button{
    /* border: 0; */
    margin-top: 25px;
}

/* Footer */

.footer {
    width: 100%;
    padding: 20px 0;
    background-color: #262b40;
    color: white;
}

.footer>.row {
    justify-content: space-between;
}

.footer p,
i {
    margin: 0 10px;
}

.footer i {
    background-color: skyblue;
    padding: 5px;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    text-align: center;
    color: black;
    font-size: 20px;
}

.nav-icon {
    display: none;
}


@media (min-width: 768px) and (max-width: 1024px) {

    /* Home Page */
    .row {
        margin: 0 50px;
    }

    .col-1 {
        font-size: 1em;
    }

    .profile-img {
        height: 225px;
        width: 225px;
    }

    /* About Me */

    .about-pic {
        margin-right: 20px;
    }

    .about-me {
        margin: 0;
    }

    /* My Project Section */
    .col-3 {
        flex-basis: 90%;
        margin: .8em 0;
    }

    .col-3 img {
        width: 60%;
        height: 60%;
    }

    /* Contact Page */
    .contact-page h2 {
        font-size: 2em;
        margin-bottom: 14px;
    }
}


@media (min-width: 481px) and (max-width: 767px) {

    .row {
        margin: 0 30px;
    }

    /* Home */

    .home-page>.row {
        height: 120vh;
        justify-content: center;
        align-content: end;
    }

    .nav-icon {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: skyblue;
        height: 40px;
        width: 40px;
        border-radius: 5px;
        z-index: 1;
        font-size: 20px;
        cursor: pointer;
    }

    .nav-links ul {
        flex-direction: column;
        align-items: center;
        position: absolute;
        background-color: black;
        padding: 30px;
        padding-top: 50px;
        left: -5%;
        top: -1000%;
        width: 100%;
        gap: 20px;
        transition: top 0.5s ease-in-out;
    }

    .profile-img {
        order: 0;
        height: 18em;
        width: 18em;
        top: 5.5em;
        right: auto;
        margin-top: 25px;
    }

    .col-1 {
        font-size: 1.2em;
        flex-basis: 100%;
        margin: 0;
    }

    .col-1 p {
        padding: 10px 0 20px 0;
    }

    .col-1 h2 {
        padding: 0 0 10px;
    }

    /* My Project */
    .col-3 {
        flex-basis: 90%;
        margin: .8em 0;
    }

    .col-3 img {
        width: 70%;
        height: 60%;
    }

    /* Contact Me */
    .contact-me {
        flex-basis: 95%;
        margin-bottom: 60px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {

    .row {
        margin: 0 20px;
    }

    /* Menu icon */

    .nav-icon {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: skyblue;
        height: 40px;
        width: 40px;
        border-radius: 5px;
        z-index: 1;
        font-size: 20px;
        cursor: pointer;
    }

    .nav-links ul {
        flex-direction: column;
        align-items: center;
        position: absolute;
        background-color: black;
        padding: 30px;
        padding-top: 50px;
        left: -5%;
        top: -1000%;
        width: 100%;
        gap: 20px;
        transition: top 0.5s ease-in-out;
    }

    /* Home */

    .home-page>.row {
        height: 120vh;
        justify-content: center;
        align-content: flex-end;
        /* background-color: olive; */
    }


    .col-1 {
        margin: 0;
        /* background-color: red; */
        flex-basis: 100%;
        font-size: 1em;
    }

    .col-1 p{
        padding: 10px 0;
    }

    .profile-img{
        right: auto;
        top: 15%;
    }

    /* Contact Me */
    .contact-me{
        /* background-color: red; */
        flex-basis: 100%;
    }


}